<div class="booksCompositeView">
	<h3>Books management</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Number</th>
				<th>Title</th>
				<th>Author</th>
				<th></th>
			</tr>
		</thead>
		<tbody id = "_container">
		</tbody>
	</table>
	<div>
		<span>number: </span><input type="text" id = "number" placeholder="number"></input>
		<span>title: </span><input type="text" id = "title" placeholder="title"></input>
		<span>author: </span><input type="text" id = "author" placeholder="author"></input>
		<input id="add" type="button" value="add" />
		<input id="update" type="button" value="update" />
	</div>
</div>