<div class="foodsCompositeView">
	<h3>Foods management</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Desc</th>
				<th></th>
			</tr>
		</thead>
		<tbody id = "_container">
		</tbody>
	</table>
	<div>
		<span>Name: </span><input type="text" id = "name" placeholder="name"></input>
		<span>Desc: </span><input type="text" id = "desc" placeholder="desc"></input>
		<input id="add" type="button" value="add" />
		<input id="update" type="button" value="update" />
	</div>
</div>