/* icon */
.icon-download::before{
    content: "下载"
}
.icon-grid::before{
    content: "网格"
}
.icon-down-arrow::before{
    content: "v"
}
.icon-question-sign::before{
    content: "?"
}
.icon-close::before{
    content: "x"
}
.icon-flag::before{
    content: "旗"
}
.icon-dir::before{
    content: "夹"
}
.icon-plus::before{
    content: "+"
}
.icon-email::before{
    content: "电子邮件"
}

.icon-filled-square{
    display: inline-block;
    height: 10px;
    width: 10px;
}
