.flags{
    background: url("img/flag_bg.jpg") 0px 0px no-repeat;
    height: 80px;
}
.game_rec_l{
    width: 181px;
    margin: auto;
    overflow: auto;
    border-right: 1px dashed #cdcdcd;
    margin-top: 10px;
}

.game_rec_l ul{
    display:block;
    padding: 0px;
    list-style: none;
}
.game_rec_l li{
    width: 90px;
    height: 60px;
    float: left;
    text-align: center;
    list-style: none;
}

.game_rec_l h3{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
}

.game_rec_l h3 a{
    text-decoration: none;
    color: #333;
}

.game_rec_l .p1{
    background: url("img/fl_arr.jpg") center 2px no-repeat;
}
.game_rec_l .p2{
    background: url("img/fl_arr.jpg") center -55px no-repeat;
}
.game_rec_l .p3{
    background: url("img/fl_arr.jpg") center -113px no-repeat;
}
.game_rec_l .p4{
    background: url("img/fl_arr.jpg") center -170px no-repeat;
}


.game_rec_r li{
    width: 100%;
    height: 30px;
    float: left;
    list-style: none;
    overflow: hidden;
    margin-bottom: 12px;
}
.game_rec_r b{
    float: left;
    height: 30px;
    width: 85px;
    color: #fff;
    padding-left: 8px;
    line-height: 30px;
    font-size: 15px;
}
.game_rec_r a{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    margin: 0px 8px;
}
.game_rec_r .hot{
    background: url("img/b_arr.jpg") 0px 0px no-repeat;
}
.game_rec_r .zt{
    background: url("img/b_arr.jpg") 0px -40px no-repeat;
}
.game_rec_r .hj{
    background: url("img/b_arr.jpg") 0px -80px no-repeat;
}

#search{
    width: 480px;
    height: 45px;
    border: 2px solid #3072CF;
}
#search-box{
    outline: none;
    float: left;
    width: 390px;
    height: 36px;
    line-height: 40px;
    border: none;
    font-size: 14px;
    color: #999;
    padding-left: 10px;
    overflow: hidden;
}
#search-box-submit{
    cursor: pointer;
    float: right;
    width: 55px;
    height: 41px;
    background: url("img/search.jpg") 0px 0px no-repeat;
    border: none;
}
