<div class="row">
    <div class="col-sm-3">
        <div class = "tree"></div>
    </div>
    <div class="col-sm-6">
        <div class="well">
            <input type="text" class="redisKey2Save" value="" placeholder="输入Key" style="width: 29%; margin-top:10px;"/>
            <input type="text" class="redisValue2Save" value="" placeholder="输入Value" style="width: 70%; margin-top:10px;"/>
            <br>
            <button class="btn btn-success saveToRedis">
                保存至Redis
            </button>
            <br>
            <input type="text" class="redisKey2Get" value="" placeholder="输入Key" style="width: 29%; margin-top:10px;"/>
            <br>
            <button class="btn btn-success getFromRedis">
                获取Redis
            </button>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
</div>
